							<% if book.favorited_by?(current_user) %>
								<%= link_to book_favorites_path(book),method: :delete, remote: true  do %>
								 <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
								<% end %>
								<% else %>
								<%= link_to book_favorites_path(book),method: :post, remote: true  do %>
								<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
								<% end %>
							<% end %>
							<%= book.favorites.count %>
