<script type="text/javascript">
  function initMap() {

    var test ={lat: <%= user.latitude %>, lng: <%= user.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= user.address_city %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });


    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>


<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD4txJoigXZyEPo_Z-W9x5ESAbf8PSCJ-U&callback=initMap">
</script>

<style type="text/css">
  #map { height: 200px;
         width: 70%;}
</style>


<div id="map"></div>